/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {
  from {
    margin-left: -19px;
  }
  to {
    margin-left: -15px;
  }
}

.theme-menu__button:disabled::before {
  animation: arrow 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:hover::after {
  width: 100%;
}

.theme-menu__button::after {
  transition: all 0.3s;
}

.card__like-button {
  transition: box-shadow 0.3s linear;
}

.card__like-button:focus-visible {
  animation-direction: normal;
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--main-color2);
}

@keyframes heart {
  from {
    transform: scale(1);
    translate: 0 0;
  }
  to {
    transform: scale(1.3);
    translate: -15% -15%;
  }
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in alternate;
  animation-delay: 0.1s;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s ease-in-out;
  transition-delay: 0.03s;
  fill: var(--main-color1);
}

.sparks {
  animation-delay: 0.3s;
}

.main-body {
  transition: fill 0.05s ease-in-out;
  transition-delay: 0.3s;
  fill: var(--main-color1);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s ease-in-out;
  transition-delay: 0.06s;
  fill: #ff0000;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s ease-in-out;
  transition-delay: 0.06s;
  fill: #ff0000;
}

.like-icon.is-liked .core {
  transition: fill 0.3s ease-in-out;
  transition-delay: 0.03s;
  fill: #ff0000;
}

@keyframes sparks {
  to {
    opacity: 100%;
  }
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in alternate;
  animation-delay: 0.3s;
}

.card__like-button::before {
  transition: translate 0.5s ease-in-out;
  translate: -100% 0;
}

.save_button::before {
  transition: translate 0.5s ease-in-out;
  translate: -100% 0;
}

.dialog__btn-close::before {
  transition: translate 0.5s ease-in-out;
  translate: -100% 0;
}