/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: "Inter", sans-serif;
  font-variation-settings: "wdth" var(--wdth-main-text);
  line-height: 1.3;
  color: var(--main-color2, #000);
  background-image: repeating-linear-gradient(
      90deg,
      var(--bg-cover-grad),
      var(--bg-cover-grad) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      var(--bg-cover-grad),
      var(--bg-cover-grad) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      var(--bg-gradient1) 0 0.01%,
      var(--bg-gradient1),
      var(--bg-gradient2)
    );
  background-color: var(--main-color1, #fff);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(<path-to-image>), lightgray 0% 0% / 50px 50px repeat,
    linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
}

.wdth-content {
  max-width: 100vi;
}

/*header*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--main-color1);
  margin-block-start: 100px;
  margin-block-end: 100px;
  width: 100%;
  border: 2px solid var(--main-color2);
  font-family: "Press Start 2P", sans-serif;
  text-transform: uppercase;
}

.header-title {
  margin-block-start: 113px;
  margin-block-end: 10px;
  font-size: clamp(3.0625rem, 2.4847rem + 2.4653vw, 4.0625rem);
  text-decoration: none;
}

.header-subtitle {
  margin-block-end: 18px;
  font-size: clamp(0.875rem, 0.55rem + 1.3867vw, 1.4375rem);
}

/*nav-bar*/
.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  margin-left: -19px;
}

.theme-menu__button {
  padding: 0;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  margin-inline-start: 18px;
  position: relative;
  padding-bottom: 3px;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--main-color2);
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:hover::after {
  width: 100%;
}

.theme-menu__button:disabled,
.theme-menu__button:active {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus::after {
  width: 100%;
}

.theme-menu {
  margin-block-end: 20px;
}

/*main*/
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--main-color1);
  border: 2px solid var(--main-color2);
  margin-block-end: 50px;
  width: 100vi;
}

.content__card-title {
  border-bottom: 2px solid var(--main-color2);
  inline-size: 100%;
  color: var(--main-color2);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 5px 10px;
}

.content__card-image {
  position: relative;
  background-size: cover;
}

.picture {
  display: block;
  max-height: 371px;
}

/*фильтры для картинок*/
.pic2 {
  filter: invert(1) brightness(60%);
}

.pic3 {
  filter: brightness(200%);
}

.pic4 {
  filter: saturate(19%);
}

.pic5 {
  filter: grayscale(1);
}

.pic6 {
  filter: contrast(2) brightness(0.5);
}

.pic7 {
  filter: sepia(1.6) contrast(2) brightness(2.5);
}

.pic8 {
  filter: blur(3px);
}

.content__card-image p {
  position: absolute;
  top: 25px;
  right: 11px;
  display: flex;
  justify-content: flex-end;
  color: var(--main-color2);
  font-family: "Press Start 2P", sans-serif;
  line-height: normal;
  font-size: 14px;
  text-shadow: -1px 0 var(--shadow-color), 0 1px var(--shadow-color),
    1px 0 var(--shadow-color), 0 -1px var(--shadow-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (-webkit-tmix-blend-mode: 2px #000) {
  .stroke {
    -webkit-text-stroke: 2px #000;
  }
}

.content__card-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 27px;
  border-top: 2px solid var(--main-color2);
}

.content__card-btn-like {
  align-self: end;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

/*heart-button*/
.card__icon-button {
  background-color: var(--main-color1);
  border: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color2);
}

.card__icon-button:hover .main-body,
.card__icon-button:hover .core {
  fill: var(--main-color2);
  cursor: pointer;
}

.card__icon-button:hover {
  cursor: pointer;
}

.core {
  fill: var(--main-color1);
}

.main-body {
  fill: var(--main-color1);
}

.card__icon-button:active .main-body,
.card__icon-button:active .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour,
.like-icon.is-liked .core {
  fill: #ff0000;
}

.heart {
  transform: scale(1);
}

.sparks {
  opacity: 0;
  transform: scale(1);
}

/*like-button*/
.card__like-button {
  width: 130px;
  padding: 9px 17px;
  border: 2px solid var(--main-color2);
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.card__like-button:hover {
  cursor: pointer;
}

.card__like-button:focus {
  outline: none;
  border: 2px solid var(--main-color2, #000);
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--main-color2);
}

.card__like-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color2);
  translate: -100% 0;
}

.card__like-button:hover::before,
.save_button:hover:before {
  transform: scale(1, 1);
  translate: 0 0;
}

.save_button:hover {
  cursor: pointer;
}

.button__text {
  z-index: 1;
  display: block;
  position: relative;
  mix-blend-mode: difference;
  font-family: "Press Start 2P", sans-serif;
  font-size: 14px;
  color: var(--btn-text-color);
  line-height: 0.9;
  background-color: transparent;
}

/*button save, floppy*/
.save_button {
  border: 2px solid var(--main-color2);
  background-color: var(--main-color1);
  width: 306px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  overflow: hidden;
  color: var(--btn-text-color);
  margin-block-end: 102px;
  padding-block: 15px;
}

.save_button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color2);
  translate: -100% 0;
}

.save_button:focus {
  outline: none;
  border: 2px solid var(--main-color2, #000);
}

.save_button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--main-color2);
}

.img-floppy {
  z-index: 3;
  mix-blend-mode: difference;
  color: var(--btn-text-color);
}

/*dialog window*/
.dialog[open] {
  font-family: "Press Start 2P", sans-serif;
  color: var(--main-color2);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: var(--main-color1);
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  gap: 20px;
  align-items: center;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog__floppy {
  grid-area: a;
  width: 39px;
  height: 39px;
}

.dialog__text {
  grid-area: b;
  max-width: 234px;
}

.dialog__btn-close {
  grid-area: c;
  border: 2px solid var(--main-color2);
  width: 257px;
  height: 38px;
  padding: 9px;
  background-color: var(--main-color1);
  margin-block-start: 10px;
  line-height: 0.9;
  position: relative;
  overflow: hidden;
  color: var(--btn-text-color);
}

.dialog__btn-close::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color2);
  translate: -100% 0;
}

.dialog__btn-close:hover::before {
  translate: 0 0;
}

.dialog__btn-close:hover {
  cursor: pointer;
}

.dialog__btn-close:focus{
  outline: none;
  border: 2px solid var(--main-color2, #000);
}

.dialog__btn-close:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--main-color2);
}

@media (width >= 375px) {
  .wdth-content {
    width: 696px;
  }

  .header-title {
    margin-block-start: 127px;
    margin-block-end: 6px;
  }

  .content__card-image {
    width: 100%;
  }

  .picture {
    width: 100%;
  }

  .save_button {
    flex-direction: row;
    inline-size: 335px;
    block-size: 51px;
  }

  .picture {
    max-height: none;
  }

  .dialog__btn-close {
    width: 293px;
  }
}
