/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark{
  --text-main: "Inter-Variable.woff2", sans-serif;
  --text-accent: "PressStart2P-Regular.woff", sans-serif;
  --wdth-main-text: 465;
  --wdth-title-text: 785;  
  --bg-color: #000;
  --main-color: #00CC14;
  --shadow-color: #000;
  --bg-cover-grad: #000000;
  --bg-gradient1: #007f0c;
  --bg-gradient2: #004306;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-main: "Inter-Variable.woff2", sans-serif;
        --text-accent: "PressStart2P-Regular.woff", sans-serif;
        --wdth-main-text: 465;
        --wdth-title-text: 785;  
        --bg-color: #000;
        --main-color: #00CC14;
        --shadow-color: #000;
        --bg-cover-grad: #000000;
        --bg-gradient1: #007f0c;
        --bg-gradient2: #004306;
    }
}

:root.theme-light {
  --text-main: "Inter-Variable.woff2", sans-serif;
  --text-accent: "PressStart2P-Regular.woff", sans-serif;
  --wdth-main-text: 400;
  --wdth-title-text: 700; 
  --bg-color: #FFF;
  --main-color: #000;
  --shadow-color: #fff;
  --bg-cover-grad: #d3d3d3;
  --bg-gradient1: #e7e7e7;
  --bg-gradient2: #1a1a1a;
}